/* ========================================================= */
/* INTRO */
/* ========================================================= */

.intro {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;

  background: #000;

  z-index: 9999;

  overflow: hidden;

  cursor: pointer;
}

/* ========================================================= */
/* DISCLAIMER */
/* ========================================================= */

.intro-disclaimer {
  position: absolute;

  top: 26%;
  left: 50%;

  transform: translateX(-50%);

  width: min(90%, 900px);

  text-align: center;
}

.intro-disclaimer h1 {
  margin: 0 0 18px;

  color: rgba(255, 255, 255, 0.32);

  font-size: clamp(14px, 1.2vw, 20px);
  font-weight: 400;

  line-height: 1;

  letter-spacing: 0.08em;

  text-transform: uppercase;
}

.intro-disclaimer p {
  margin: 4px 0;

  color: rgba(255, 255, 255, 0.38);

  font-size: clamp(20px, 2vw, 34px);
  font-weight: 300;

  line-height: 1.15;

  letter-spacing: 0.01em;
}

.intro-disclaimer h1 {
  font-family: "Abhaya Libre", sans-serif;
}

.intro-disclaimer p {
  font-family: "Abhaya Libre", serif;
}

.intro-advisory {
  width: 70px;
  height: auto;

  display: block;

  margin: 200px auto 0;

  opacity: 0.4;
}
/* ========================================================= */
/* TOUCH TO START */
/* ========================================================= */

.intro-touch {
  position: absolute;

  left: 50%;
  top: 80%;

  transform: translate(-50%, -50%);

  margin: 0;

  color: rgba(255, 255, 255, 0.32);

  font-size: clamp(11px, 0.9vw, 14px);
  font-weight: 500;

  letter-spacing: 0.08em;

  animation: introTouchFade 1.5s ease-in-out infinite alternate;
}

@keyframes introTouchFade {
  from {
    opacity: 0.35;
  }

  to {
    opacity: 1;
  }
}

/* ========================================================= */
/* TRANSITION VIDEO */
/* ========================================================= */

.intro-transition-video {
  position: absolute;

  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  opacity: 0;

  pointer-events: none;
}

/* khi user click */

.intro.is-transitioning .intro-transition-video {
  opacity: 1;
}
